---
const { value } = Astro.props;
---

<div>
  <label
    for="layout"
    class="block text-sm font-semibold leading-6 text-gray-900"
  >
    layout
  </label>

  <div class="mt-1">
    <select
      name="layout"
      class="block w-full rounded-md border-0 bg-white py-2.5 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      id="layout"
    >
      <option value="fullWidth" selected={value === "fullWidth"}
        >fullWidth</option
      >
      <option value="constrained" selected={value === "constrained"}
        >constrained</option
      >
      <option value="fixed" selected={value === "fixed"}>fixed</option>
    </select>
  </div>
</div>
